{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container-fluid text-center py-5">
        <div class="heading3 pb-3">Quiz Portal</div>
        {% for question in question_list %}
            <h4>Q.{{ forloop.counter }}</h4>
            {{ question.question|safe }}
            <h4>Possible Answers</h4>

            {% for answer in question.answers.all %}
                {{ answer.name }}<br>
            {% endfor %}
            <br>
        {% endfor %}
        <div class="btn-group my-5" role="group" aria-label="Buttons">
            <a href="">
                <button type="button" class="btn btn-rounded waves-effect button-fs"
                        style="background-color: var(--btn-bg-color);">
                    Submit
                </button>
            </a>
        </div>
    </div>
{% endblock %}